.frame{
    -fx-border-color: #ffffff;
    -fx-background-color: #fff;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(161, 161, 161, 0.3), 10, 0.5, 0, 0);
}
.rent{
    -fx-text-fill: #fff;
    -fx-background-color: #4766ff;
    -fx-border: none;
    -fx-background-radius: 20px;
}
.rent:hover {
    -fx-background-color: #3a4dbf;
}
.rent:pressed {
    -fx-background-color: #2e3b99;
}
.delete{
    -fx-text-fill: #fff;
    -fx-background-color: #ff4d4d;
    -fx-border: none;
    -fx-background-radius: 20px;
}
.delete:hover {
    -fx-background-color: #e63a3a;
}
.delete:pressed {
    -fx-background-color: #cc2626;
}
.table-view{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right, #444750, #696d72);
    -fx-border-width:2px;
    -fx-border-radius:7px;
    -fx-padding:2px;
}
.table-view .table-column{
    -fx-alignment: CENTER;
}
.table-view .column-header-background{
    -fx-background-color:#394766;
    -fx-background-radius:7px 7px 0px 0px;
    -fx-background-insets: 0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color:transparent;
    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-text-fill:#fff;
}